ul{
    list-style: none;
    position: relative;
    
}
li{
    float: left;
    padding: 10px;
}

ul li a{
    text-decoration: none;
    /* background: purple; */
    /* color: black; */
    padding: 6px;
    border-radius: 10px;
}
.active{
    color:red
}